html, body{
    width: 100%;
    height: 100%;
    /* Reseta distanciamentos de elemento da borda das páginas */
    margin: 0;
    padding: 0;
    /* toda a página flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;

    /* login flex */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* limitando espaço interno de tags de entrada */
    padding: 0 100px;
    box-sizing: border-box;
}